<div class='col-4 offset-4'>
<%= form_with(model: search_term, local: true) do |form| %>
  <% if search_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_term.errors.count, "error") %> prohibited this search_term from being saved:</h2>

      <ul>
      <% search_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :timespan %>
    <%= select_tag "search_term[timespan]", options_for_select([ "hour", "day", "week", "month", "year", 'all' ]), class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :check_frequency %> (Per Day)
    <%= form.number_field :check_frequency, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
